{
  "name": "shopify-basetheme",
  "version": "1.0.0",
  "description": "Basetheme",
  "main": "index.js",
  "devDependencies": {
    "@babel/eslint-parser": "^7.16.0",
    "browserslist": "^4.18.1",
    "eslint": "^8.1.0",
    "eslint-config-prettier": "^8.3.0",
    "eslint-plugin-prettier": "^4.0.0",
    "prettier-eslint": "^13.0.0",
    "prettier-eslint-cli": "^5.0.1",
    "prettier-stylelint": "^0.4.2",
    "stylelint": "^13.13.1",
    "stylelint-config-prettier": "^9.0.3",
    "stylelint-config-standard": "^18.3.0",
    "stylelint-order": "^5.0.0",
    "stylelint-order-config-standard": "^0.1.3",
    "stylelint-scss": "^4.0.0"
  },
  "scripts": {
    "stylelint-check": "stylelint-config-prettier-check",
    "eslint": "eslint theme/assets",
    "eslint-fix": "eslint theme/assets --fix",
    "stylelint": "npx stylelint 'theme/assets/*.{css,scss}'",
    "stylelint-fix": "npx stylelint 'theme/assets/*.{css,scss}' --fix",
    "theme-check": "shopify theme check",
    "validate": "npx eslint theme/assets & npx stylelint 'theme/assets/*.{css,scss}' & shopify theme check",
    "prettify-js": "npx prettier --write 'theme/assets/*.js'",
    "prettify-css": "npx prettier --write 'theme/assets/*.{css,scss}'"
  },
  "author": "MakeBeCool",
  "license": "ISC",
  "homepage": "https://bitbucket.org/makebecool-agency/shopifybasetheme/src/master/README.md",
  "dependencies": {}
}
