{{ 'section-main-collections.css' | asset_url | stylesheet_tag }}

<div class="container">
    <ul class="collection">
      {% for collection in collections %}
        <li class="collection-item">
          <a href="/collections/{{ collection.handle }}">{{ collection.title }}</a>
        </li>
      {% endfor %}
    </ul>
</div>

{% schema %}
{
"name": "List collections",
"tag": "section"
}
{% endschema %}
